* { font-family: Helvetica, sans-serif; }
h1 { font-size: 64px }
p, span, div { font-size: 16px }
a, a:visited {
  color: #FF2600;
  text-decoration: none;
}
a:hover { color: black; }
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 { margin: 10px 0px; }
.links { display: inline; }
.links .link {
  display: inline-block;
  width: 40px;
}
.links img {
  padding: 0px 5px;
  vertical-align: middle;
}
.main {
  position: fixed;
  bottom: 40px;
  left: 10px;
}
.footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.footer a { font-size: 24px; }
.projects {
  width: 316px;
}
.projects-big {
  margin-top: 20px;
}
.projects-small {
  margin-top: 0px;
}
.projects p, .projects a {
  text-align: justify;
  word-break: break-all;
}
.projects-big p, .projects-big a {
  font-size: 24px;
}
.projects-small p, .projects-small a {
  font-size: 20px;
}
.jp {
  font-family: "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro",
    Osaka,
    "メイリオ",
    Meiryo,
    "ＭＳ Ｐゴシック",
    "MS PGothic",
    sans-serif;
}
