- @links.each do |lnk|
  .link-container
    %a{ :href => lnk[:url], :title => lnk[:text] }
      = image_tag "icon/square128/" + lnk[:text] + ".png", :alt => lnk[:text]
    %br
    %a{ :href => lnk[:url] }
      = lnk[:text]
