/* Font Families */
h1, h2, h3, h4, h5, h6, legend, th
  font-family: Helvetica, sans-serif
body, td, p, span, div, li, hr, blockquote
  font-family: Times, serif

/* Basic font sizing */
h1
  font-size: 64px
  margin: 10px 0px
p, span, div
  font-size: 16px

/* Layout */
body
  margin: 10px
.portrait
  padding-top: 10px
.links
  display: inline
  a
    padding-right: 5px

/* Rails flash */
.flashes
  margin-top: 10px
  padding: 5px 0px
  span
    padding: 5px
.notice
  background-color: lightgreen
.alert
  background-color: yellow
